:root {
	--main-color: green;
	--second-color: red;
}

/*color: var(--second-color);*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}
ol,
ul,
menu {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}
section{
	    padding: 140px 0;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.home {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: aliceblue;
}
.home::before {
	content: '';
	position: absolute;
	background-color: rgba(11, 1, 1, 0.416);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}
.nav {
	display: flex;
	padding-top: 75px;
	justify-content: space-between;
	align-items: center;
}
.nav__list {
	display: flex;
}
.nav__item {
	margin-right: 25px;
}
.nav__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}
.nav__link:hover {
	color: darkcyan;
}
.home__inner {
	top: 27%;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width:640px ;
	font-size: 48px;
	max-width: 640px;
  height: calc(100vh - 218px);
  justify-content: center;
}
.home__link{
	position: relative;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: block;
	text-align: center;
}
.home__link::before {
	content: "";
	position: absolute;
	background-image: url(./img/arrow.svg);
	height: 21px;
	width: 37px;
	left: 50%;
	border-radius: 0px;
	transform: translate(-50%, -50%);
	animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes arrow {
    0% {
        top: 40px;
    }

    50% {
        top: 70px;
    }

    100% {
      top: 40px;
  }
}
.home__title{
	font-weight: 700;
	font-size: 90px;
}


.about_text {
    font-size: 24px;

}

.title {
    display: inline-block;
    font-size: 48px;
		position: relative;
		font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 60px;
    display: inline-block;
    position: relative;
}
.title::before{
	content: "";
	position: absolute;
	top: 45px;
	left: 0;
	height: 15px;
	width: 100%;
	background: rgba(156, 114, 196, 0.1);
}
.about__item {
    margin-bottom: 30px;
}

.skills {
    background-color:#F6F6F8 ;
}
.skills__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.portait {
    width: 415px;
    height: 450px;
}
.skills__list{
    max-width: 600px;
    width: 100%;
    gap: 85px;
}
.skills__item{
	display: flex;
	justify-content: space-between;
	margin-bottom: 84px;
}
.skills__rate {
    display: block;
    height: 32px;
    max-width: 600px;
    width: 100%;
    background-color: #DBDBED;

}

.skills__percent {
    display: block;
    height: 32px;
    background: #2352DE;

}
.skills__text{
	width: 50px;
	margin-right: 15px;
}
.services__list{
	display: flex;
	justify-content: space-between;
	gap: 90px;
}
.services__item{
	max-width: 330px;
	width: 100%;
}
.services__text{
	font-size:28px ;
	color: #333333;
	font-weight: 600px;
	padding: 38px 0 25px 0;
}
.services__info{
	font-size: 16px;
	
}
.project{
	text-align: center;
}
.project__list{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 45px;
}
.project__item img{	
	max-width: 360px;
	width: 100%;
}