:root {
	--main-color: green;
	--second-color: red;
}

/*color: var(--second-color);*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

ol,
ul,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	scroll-behavior: smooth;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding: 0px 15px;
	margin: 0 auto;
}

.home {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	position: relative;
	z-index: 1;
	color: aliceblue;
}

.home::before {
	content: '';
	position: absolute;
	background-color: rgba(11, 1, 1, 0.416);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.nav {
	display: flex;
	padding-top: 75px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.nav__list {
	display: flex;
}



.nav__item {
	margin-right: 25px;
}

.nav__link {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}

.nav__link:hover {
	color: darkcyan;
}

.home__inner {
	top: 27%;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 640px;
	font-size: 48px;
	max-width: 640px;
	height: calc(100vh - 218px);
	justify-content: center;
}

.home__link {
	position: relative;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	display: block;
	text-align: center;
}



.home__link::before {
	content: '';
	position: absolute;
	background-image: url(./img/arrow.svg);
	height: 21px;
	width: 37px;
	left: 50%;
	border-radius: 0px;
	transform: translate(-50%, -50%);
	animation-name: arrow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes arrow {
	0% {
		top: 40px;
	}

	50% {
		top: 70px;
	}

	100% {
		top: 40px;
	}
}

.home__title {
	font-weight: 700;
	font-size: 90px;
}


@media screen and (max-width: 992px) {
	.home__title {
		font-size: 76px;
		font-weight: 400;
	}
}

@media screen and (max-width: 992px) {
	.nav__list {
		display: none;
		position: absolute;
		right: -15px;
		top: 0;
		flex-direction: column;
		background-color: rgb(123, 138, 122);
		align-items: center;
		height: 100vh;
		padding: 120px 30px 30px;
		font-size: 36px;
		width: 320px;

	}

	.nav__list.active {
		display: flex;
	}
}

@media screen and (max-width: 375px) {
	.home__title {
		font-size: 50px;
		font-weight: 400;
	}

	.home__name {
		font-size: 35px;
	}
}

/* 




                        start about





*/
.about_text {
	font-size: 24px;
}

.title {
	display: inline-block;
	font-size: 48px;
	position: relative;
	font-weight: 700;
	font-size: 48px;
	line-height: 130%;
	margin-bottom: 60px;
	display: inline-block;
	position: relative;
}

.title::before {
	content: '';
	position: absolute;
	top: 45px;
	left: 0;
	height: 15px;
	width: 100%;
	background: rgba(156, 114, 196, 0.1);
}

@media screen and (max-width:992px) {


	.title {
		padding-bottom: 20px;
	}
}

.about {
	padding: 140px 0;
}

.about__item {
	margin-bottom: 30px;
}

/* 




                        start skills





*/
.skills {
	background-color: #f6f6f8;
	padding: 150px 0;
}

.skills__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
@media screen and (max-width:992px) {
	.skills{
		padding: 90px 0;
	}



	.skills__inner {
		align-items: initial;
	}

}



.portait {
	max-width: 350px;
	margin-bottom: 50px;
	width: 100%;
}

.skills__list {
	max-width: 600px;
	width: 100%;
	gap: 85px;
}

@media screen and (max-width:768px) {
	.skills__inner {
		display: flex;
		flex-direction: column;
	}

}


.skills__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 84px;
}

.skills__rate {
	display: block;
	height: 32px;
	max-width: 600px;
	width: 100%;
	background-color: #dbdbed;
}

.skills__percent {
	display: block;
	height: 32px;
	background: #2352de;
}

.skills__text {
	width: 50px;
	margin-right: 15px;
}

@media screen and (max-width:992px) {
	.services {
		padding: 90px 0;
	}



	.services__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		padding: 40px;
	}

	.servants__item {
		text-align: center;

	}

	.services__text {
		padding: 20px 0;

	}
}



.my_works {
	align-items: center;
}

.services__inner {
	padding: 140px 0;
}

.services__list {
	display: flex;
	justify-content: space-between;
	gap: 90px;
}

.services__item {
	max-width: 330px;
	width: 100%;
}

.services__text {
	font-size: 28px;
	color: #333333;
	font-weight: 600px;
	padding: 38px 0 25px 0;
}

.services__info {
	font-size: 16px;
}

.project {
	text-align: center;
}

.project__inner {
	padding: 140px 0;
}

.project__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
}

.project__item {
	overflow: hidden;

}

.project__link {
	position: relative;
}

.project__link::before {
	content: '';
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: transparent;
	transition: all 0.8s linear;
}

.project__link:hover.project__link::before {
	background-color: rgba(86, 127, 162, 0.742);

}

.project__item img {
	max-width: 360px;
	width: 100%;
}

@media screen and (max-width:992px) {
	.project__list {
		display: flex;
		flex-direction: column;
	}
}

.achievement__inner {
	padding: 140px 0;
	padding-bottom: 140px;
}

.achievement__list {
	display: flex;
	gap: 16px;
	justify-content: space-between;
}

.achievement__item {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #f6f6f8;
	max-width: 280px;
	width: 100%;
	height: 287px;
	justify-content: center;
	border: 1px solid #dbdbed;
}

.achievement__item img {
	max-width: 90px;
	margin: 0 auto;
}

.achievement__item p {
	padding: 20px 0;
}

.achievement__item h3 {
	font-size: 44px;
	font-weight: 600;
}

@media screen and (max-width:992px) {
	.achievement__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.contact__container {
	padding-bottom: 217px;
}

.contacts__info p {
	font-size: 16px;

}

.contact__list {
	display: flex;
}

.contacts__info {
	max-width: 530px;
	width: 100%;
}

.contacts__info a {
	color: #2352DE;

}

.contacts__inner {
	display: flex;
	justify-content: space-between;
}

.contact__form {
	display: flex;
	flex-direction: column;
	max-width: 540px;
	width: 100%;
}

.contact__phone {
	display: block;
	padding: 30px 0 15px 0;
}

.contact__list {
	display: flex;
	padding-top: 21px;
	gap: 20px;
}

.contact__label {
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	color: #333;
	outline: none;
}

.contact__input {
	background: #F6F6F8;
	color: #9393a0;
	padding: 13px 15px 13px;
	border: none;
	margin-top: 10px;
	max-width: 255px;
	width: 100%;
	outline: none;
}

.contact__form-inner {
	display: flex;
	margin-bottom: 30px;
}

.contact__label:first-child {
	margin-right: 30px;
}

.contact__textarea {
	background-color: #F6F6F8;
	border: none;
	padding: 13px 15px 13px;
	margin-top: 10px;
	max-height: 115px;
	max-width: 540px;
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
}

.contact__button {
	padding: 12px 24px;
	background: #2352DE;
	color: #ffff;
	border: none;
	margin-top: 30px;
	font-size: 15px;
}

@media screen and (max-width:992px) {
	.contacts__inner {
		flex-direction: column-reverse;
	}

	.contacts__form {
		margin-bottom: 30px;
	}
}

.footer {
	margin-top: 140px;
	width: 100%;
	height: 153px;
	background-color: #343740;
	text-align: center;
}

.footer__logo {
	padding: 50px 0;
}

.menu-btn {
	display: none;
}

@media screen and (max-width:992px) {
	.menu-btn {
		background-color: transparent;
		border: none;
		outline: none;
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 2;
		overflow: hidden;
		margin-left: 20px;
	}
}

.menu-btn .bar:nth-child(2) {
	top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
	top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
	display: none;
}

.menu-btn.active .bar:nth-child(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
	background-color: black;
}

.menu-btn.active .bar:nth-child(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
	background-color: black;
}

.menu-btn .bar {
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	transition: 0.3s;
}

.menu-btn .bar:nth-child(2) {
	top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
	top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
	display: none;
}

.menu-btn.active .bar:nth-child(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-child(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}